:root {
  --border: 1px solid white;
}

body {
  text-align: center;
  font-family: Roboto, sans-serif;
  color: white;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(90, 92, 106, 1) 0%,
    rgba(32, 45, 58, 1) 81.3%
  );
}
div {
  display: inline-block;
  padding: 20px;
  font-size: 32px;
}
span {
  display: block;
  font-size: 16px;
  color: white;
}
h1 {
  font-size: 64px;
}
.timer {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 60px;
}
#year {
  font-size: 125px;
  color: #b43d38;
  width: 4ch;
}
#day {
  font-size: 100px;
  color: #db4844;
  width: 4ch;
}
#hour {
  font-size: 75px;
  color: #f07c22;
  width: 5ch;
}
#minute {
  font-size: 50px;
  color: #f6da74;
  width: 7ch;
}
#second {
  font-size: 25px;
  color: #abcd58;
  width: 7ch;
}
.button {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  margin: 8px;
  width: 160px;
}

.button:hover {
  background-color: #2c974b;
}
.btn-del {
  background-color: tomato;
}
.btn-del:hover {
  background-color: rgb(222, 47, 16);
}

.goals {
  border: var(--border);
  border-radius: 12px;
  padding: 10px;
  margin: 10px;
  background-color: rgba(62, 111, 161, 0.15);
}

form {
  padding: 10px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: var(--border);
  border-radius: 12px;
  font-size: 20px;
  background-color: rgba(62, 111, 161, 0.15);
}
input {
  font-size: inherit;
  font-family: inherit;
  width: 300px;
  height: 32px;
  font-size: 24px;
}
